<!-- BOXTITLE, BOX1, BOX2 -->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{STYLE}">
</head>
<body>

    {background}

    <div class="frame">


        <div class="cell FOOTER" {FOOTER style}>
            <span class="footer">
                <span class="author">{AUTHOR}</span>
                <span class="title">{TITLE}</span>
                <span class="date">{DATE}</span>
            </span>
            <span class="page">{page}</span>
        </div>

        <div class="cell T00 BOX1" {BOX1 style}>
            {BOX1 default} ('width', 'calc(var(--totalwidth) - {titlewidth}px - var(--footerwidth) - 8 * var(--boxmargin))')
            {BOX1}
        </div>

        <div class="cell BOXTITLE" {BOXTITLE style}>
            {BOXTITLE}
        </div>
        <div class="cell T00 BOX2" {BOX2 style}>
            {BOX2 default} ('width', '{titlewidth}px')
            {BOX2}
        </div>


    </div>

</body>
</html>
