/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
    --totalheight: 1300px;
     --totalwidth: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1500px;
    --totalheight: 1500px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
/* --- PAGE SETUP for A4 portrait ----------------------------------------------

/* Widths and heights */
:root {
     --totalwidth: 1300px;
    --totalheight: 1839px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
:root {
	 --totalwidth: 2480px;
	--totalheight: 2480px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1plain%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 1%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad1), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad3), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    margin: 1%;
    padding: 1%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
     margin: 1% !important;
    padding: 1% !important;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1% !important;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 0.9;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 0.6;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1.2;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 2492px;
	--totalheight: 3507px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 1661px;
	--totalheight: 2338px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 1661px;
	--totalheight: 2338px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
:root {
	 --totalwidth: 1661px;
	--totalheight: 2338px;
	 --fontfactor: 1;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}

div.background {
    background: linear-gradient(to bottom right, rgba(var(--grad3), 1) 0%, rgba(var(--grad2), 1) 70%, rgba(var(--grad1), 1) 100%);
}

div.cell {
    padding: 1.5%;
}
