:root {
    --grad1: 219, 219, 219;
    --grad2: 255, 248, 239;
    --grad3: 255, 255, 255;
    --text:  50,  55,  59;
    --highlight: 255, 109,   0;
}
:root {
    --layflat: 2;
}
:root {
    --fontfamily: CedarvilleCursive;
    --bindingoffset: 0px;
}
@font-face {
    font-family: CedarvilleCursive;
    src: url('/home/nechnif/.local/share/fonts/CedarvilleCursive-Regular.ttf');
}
:root {
	 --totalwidth: 4133px;
	--totalheight: 4133px;
	 --fontfactor: 0.9;
}
div.background {
    background-image: url(/home/nechnif/LOCAL/Projects/neftox/styles/images/backgrounds/paper-01-SQ.jpg);
              filter: saturate(80%);
     background-size: 12%;
}
div.cell.BOXFOOTER {
    color: rgba(var(--text), 0.8);
    font-family: Dancing Script;
}

p { text-align: left; }

table.wedding {
    text-align: center;
    margin-top: -15%;
}
table.wedding td {
             width: 50%;
           padding: 2%;
    vertical-align: top;
}
