/* stylesheet for neftox scrapbooks */


/* --- POSITIONING ------------------------------------------------------ */

.topleft {
        --rot: 0deg;
     position: absolute;
          top: 5%;
         left: calc( 5% / var(--aspectratio) );
    transform: translate(-0%, -0%) rotate(var(--rot));
}
.topright {
        --rot: 0deg;
     position: absolute;
          top: 5%;
        right: calc( 5% / var(--aspectratio) );
    transform: translate(-0%, -0%) rotate(var(--rot));
}
.topcenter {
        --rot: 0deg;
     position: absolute;
          top: 5%;
         left: 50%;
    transform: translate(-50%, -0%) rotate(var(--rot));
}
.middleleft {
        --rot: 0deg;
     position: absolute;
          top: 50%;
         left: 5%;
    transform: translate(-0%, -50%) rotate(var(--rot));
}
.middleright {
        --rot: 0deg;
     position: absolute;
          top: 50%;
        right: 5%;
    transform: translate(-0%, -50%) rotate(var(--rot));
}
.middlecenter {
        --rot: 0deg;
     position: absolute;
          top: 50%;
         left: 50%;
    transform: translate(-50%, -50%) rotate(var(--rot));
}
.bottomleft {
        --rot: 0deg;
     position: absolute;
       bottom: 5%;
         left: calc( 5% / var(--aspectratio) );
    transform: translate(-0%, -0%) rotate(var(--rot));
}
.bottomright {
        --rot: 0deg;
     position: absolute;
       bottom: 5%;
        right: calc( 5% / var(--aspectratio) );
    transform: translate(-0%, -0%) rotate(var(--rot));
}
.bottomcenter {
       --rot: 0deg;
    position: absolute;
      bottom: 5%;
        left: 50%;
   transform: translate(-50%, -0%) rotate(var(--rot));
}




/*--- TEXT STYLES ----- ------------------------------------------------- */

/* Wrap text inside a circle (not as easy as it sounds): */
div.circletext {
              --p: 2%; /*padding*/
    border-radius: 50%;
       text-align: justify;
           /* border: 4px double rgba(var(--text), 1); */
}
div.circletext i,
div.circletext::before {
          content: '';
            float: left;
           height: 100%;
            width: 50%;
    shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - var(--p)), #fff 0);
}
div.circletext i {
            float: right;
    shape-outside: radial-gradient(farthest-side at left,  transparent calc(100% - var(--p)), #fff 0);
}



div.lined {
                --lh: calc( var(--em) * 3 );
                --th: calc( var(--em) / 9 );
         line-height: var(--lh);
             padding: calc( var(--em) / 3 );
    background-image: url(../images/elements/rule.png);
     background-size: 100% var(--lh);
   background-repeat: repeat;
 background-position: 0 -1px; /* Removes the hairline at the top for high resolutions: */
}


/* Highlighted text: */
span.highlight {
         --col: rgba(255, 235, 59, 0.5);
       padding: 0 .15em;
    background:
      linear-gradient(
        transparent 35%,
        var(--col) 35%,
        var(--col) 90%,
        transparent 90%
      );
}


span.circled {
        --circlecolor : #444;
       padding: 0.4em 0.6em;
    background: radial-gradient(ellipse at center,
        transparent 62%, var(--circlecolor) 63%, var(--circlecolor) 65%, transparent 66%);
}



p.starred::before {
         content: '* ';
        position: relative;
             top: 0.2em;
    margin-right: 1em;
}
p.starred::after {
         content: '* ';
        position: relative;
             top: 0.2em;
    margin-left: 0.8em;
}

p.background {
            --bgrcolor: rgba(153, 102, 51, 0.1);
    background-color: var(--bgrcolor);
         line-height: 2;
}


/* Classes for list item separation: */
ul, ol {
    margin: var(--boxmargin);
    /* list-style-type: circle; */
}
li:not(:last-child) { margin-bottom: calc(var(--fontsize) * 0.5); }
ul.ultrawide  li:not(:last-child) { margin-bottom: calc(var(--fontsize) * 1.5); }
ul.wide       li:not(:last-child) { margin-bottom: calc(var(--fontsize) * 0.8); }
ul.normal     li:not(:last-child) { margin-bottom: calc(var(--fontsize) * 0.5); }
ul.tight      li:not(:last-child) { margin-bottom: calc(var(--fontsize) * 0.3); }

p {
    margin: 0;
   padding: var(--textpadding) 0;
     color: rgba(var(--text), 1);
}
p.headline {
     font-size: calc( var(--fontsize) * 2 );
   font-weight: bold;
    text-align: center;
}
p.subheadline {
     font-size: calc( var(--fontsize) * 1.5 );
   font-weight: bold;
    text-align: center;
}
p.caption {
       position: absolute;
    font-family: sans-serif;
      font-size: calc( var(--fontsize) - 0.9 );
}
p.abs {
    position: absolute;
    width: 100%;
}

hr {
    border: 0;
    background-color: rgba(var(--text), 1);
}

.abs { position: absolute; }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* General text and list styles: */
.huger {  font-size: calc(var(--fontsize) * 2.5); }
.huge {  font-size: calc(var(--fontsize) * 2); }
.larger { font-size: calc(var(--fontsize) * 1.5); }
.large { font-size: calc(var(--fontsize) * 1.2); }
.normal { font-size: calc(var(--fontsize) * 1); }
.subnormal { font-size: calc(var(--fontsize) * 0.9); }
.small { font-size: calc(var(--fontsize) * 0.8); }
.tiny {  font-size: calc(var(--fontsize) * 0.6); }
.tinyer {  font-size: calc(var(--fontsize) * 0.4); }
.bold { font-weight: bold; }
.tty { font-family: monospace; }
.just { text-align: justify; }

.white { color: white; }

.none { list-style: none; }
/* Classes for horizontal alignment: */
.left   { text-align: left; }
.right  { text-align: right; }
.center { text-align: center; }
/* Classes for vertical alignment: */
.top    { vertical-align: top; }
.bottom { vertical-align: bottom; }
.middle { vertical-align: middle; }

/* Shadows */
:root {
          --shadow01 : rgba(50, 50, 50, 0.3);
          --shadow02 : rgba(50, 50, 50, 0.5);
          --shadow03 : rgba(50, 50, 50, 1);
          --shadow04 : rgba(20, 20, 20, 1);

       --boxshadow01 : calc( var(--em) * 0.01 ) calc( var(--em) * 0.01 ) calc( var(--em) * 0.05 ) var(--shadow03);
       --boxshadow02 : calc( var(--em) * 0.03 ) calc( var(--em) * 0.03 ) calc( var(--em) * 0.1 ) var(--shadow03);
       --boxshadow03 : calc( var(--em) * 0.07 ) calc( var(--em) * 0.07 ) calc( var(--em) * 0.15 ) var(--shadow03);
       --boxshadow05 : calc( var(--em) * 0.1 ) calc( var(--em) * 0.1 ) calc( var(--em) * 0.3) var(--shadow02);
}

.shadow {      text-shadow: calc( var(--em) * 0.2 ) calc( var(--em) * 0.2 ) calc( var(--em) * 0.2 ) var(--shadow03) }
.shadowblack { text-shadow: calc( var(--em) * 0.2 ) calc( var(--em) * 0.2 ) calc( var(--em) * 0.2 ) var(--shadow04) }
.shadowwhite { text-shadow: 0.1vh 0.1vh 0.1vh white; }
.boxshadow {   box-shadow: var(--boxshadow02); }
.maxshadow {   box-shadow: 0.1vh 0.1vh 0.1vh rgba(var(--text), 1); }
.minshadow {   box-shadow: 0.03vh 0.03vh 0.03vh rgba(var(--text), 1); }
.fshadow01 {  filter: drop-shadow(calc( var(--em) * 0.2 ) calc( var(--em) * 0.2 ) calc( var(--em) * 0.2 ) var(--shadow01)); }
.fshadow02 {     filter: drop-shadow(calc( var(--em) * 0.2 ) calc( var(--em) * 0.2 ) calc( var(--em) * 0.2 ) var(--shadow02)); }
.fshadow03 {     filter: drop-shadow(calc( var(--em) * 0.2 ) calc( var(--em) * 0.2 ) calc( var(--em) * 0.2 ) var(--shadow03)); }
.engraving {   filter: drop-shadow(0 0 0.03vh rgba(var(--text), 1)); }
.opc { filter: opacity(80%); }






/*--- GROUPS ---------------------------------------------------- */

div.group {
    position: absolute;
       width: 100%;
      height: 100%;
}







/*--- IMAGES AND BORDERS ---------------------------------------------------- */

figure {
    position: relative;
      margin: 0;
     padding: 0;
  text-align: center;
}
figure.abs {
    position: absolute;
}
figure.abs.top {
    top: 0;
}
figure.abs.bottom {
    bottom: calc( 0px - var(--footerheight) );
}
figcaption {
    position: absolute;
 padding-top: calc( var(--em) * 0.2 );
   font-size: calc( var(--fontsize) * 0.8 );
     z-index: 2;
  text-align: center;
       width: 100%;
}
figcaption.t {
    top: 0;
}
figcaption.l {
          top: 50%;
        right: 55%;
    transform: rotate(-90deg);
}
figcaption.ll {
          top: 40%;
        right: 102%;
        width: 40%;
}
figcaption.r {
          top: 50%;
         left: 55%;
    transform: rotate(-90deg);
}
figcaption.rr {
          top: 40%;
         left: 102%;
        width: 40%;
}
figcaption.centered {
              width: 100%;
             height: 100%;
            display: flex;
    justify-content: center;
        align-items: center;
                top: 50%;
               left: 50%;
          transform: translate(-50%, -50%);
}

img {
           width: 100%;
    border-color: rgba(var(--text), 1);
}
img.abs { position: absolute; }

figure img {
    vertical-align: top;
}
.oval, .oval img {
    border-radius: 50%;
}

.noshadow img {
    box-shadow: none !important;
}



/* Simple frames with shadow */
figure.framing {
          --fpadding: 2%;
           --bgcolor: white;
          box-shadow: var(--boxshadow02);
             padding: var(--fpadding);
    background-color: var(--bgcolor);
}
figure.framing img {
    /* box-shadow: var(--boxshadow05); */
}
figure.framing figcaption {
    position: absolute;
         top: 102%;
}

img.framing {
          --fpadding: 2%;
           --bgcolor: white;
             padding: var(--fpadding);
    background-color: var(--bgcolor);
          box-shadow: var(--boxshadow02);
}




/* Fotoecken */
figure.fotoecken {
         z-index: 1;
}
figure.fotoecken img {
    position: relative;
     z-index: 0;
       width: 100%;
  box-shadow: var(--boxshadow02);
}
figure.fotoecken::after {
               position: absolute;
                    top: 0;
                  right: 0;
                 bottom: 0;
                   left: 0;
                content: '';
    border-image-source: url(../images/borders/fotoecken.png);
     border-image-slice: 30%;
     border-image-width: calc( var(--em) * 4 );
    border-image-repeat: stretch;
    border-image-outset: calc( var(--em) * 0.7 );
                 /* filter: opacity(0.7) saturate(0.3); */
                 opacity: 0.6;
}




/* Masking tape */
figure.tape {
         /* padding: calc( var(--em) * 3.0 ); */
         z-index: 1;
}
figure.tape img {
    position: relative;
     z-index: 0;
       width: 100%;
  box-shadow: var(--boxshadow02);
}
figure.tape.t01::after {
               position: absolute;
                    top: 0;
                  right: 0;
                 bottom: 0;
                   left: 0;
                content: '';
    border-image-source: url(../images/borders/tape-01_sides-01.png);
     border-image-slice: 8%;
     /* border-image-width: calc( var(--em) * 3 ); */
    border-image-repeat: stretch;
    border-image-outset: calc( var(--em) * 1.9 );
                 opacity: 0.7;
}
figure.tape.t01.alt::after {
    border-image-source: url(../images/borders/tape-01_sides-02.png);
}
figure.tape.t02::after {
              position: absolute;
                   top: 0;
                 right: 0;
                bottom: 0;
                  left: 0;
               content: '';
   border-image-source: url(../images/borders/tape-02_sides.png);
    border-image-slice: 10%;
   border-image-repeat: stretch;
   border-image-outset: calc( var(--em) * 1.9 );
}
figure.tape.t02.dots::after {
    border-image-source: url(../images/borders/tape-02_sides-dots.png);
}
figure.tape.t02.stripes::after {
    border-image-source: url(../images/borders/tape-02_sides-stripes.png);
}
figure.tape.t02.stripes45::after {
    border-image-source: url(../images/borders/tape-02_sides-stripes45.png);
}
figure.tape.t02.c.dots::after {
    border-image-source: url(../images/borders/tape-02_corners-dots.png);
}
figure.tape.t02.c.stripes::after {
    border-image-source: url(../images/borders/tape-02_corners-stripes.png);
}
figure.tape.t02.c.stripes45::after {
    border-image-source: url(../images/borders/tape-02_corners-stripes45.png);
}
figure.tape.t::after {
      border-top: calc( var(--em) * 3 ) solid transparent;
}
figure.tape.b::after {
   border-bottom: calc( var(--em) * 3 ) solid transparent;
}
figure.tape.l::after {
     border-left: calc( var(--em) * 3 ) solid transparent;
}
figure.tape.r::after {
    border-right: calc( var(--em) * 3 ) solid transparent;
}
figure.tape.t01.c::after {
           border-image: url(../images/borders/tape-01_corners.png);
     border-image-slice: 30%;
     border-image-width: calc( var(--em) * 5 );
    border-image-repeat: stretch;
    border-image-outset: calc( var(--em) * 2.3 );
}
figure.tape.t02.c::after {
           border-image: url(../images/borders/tape-02_corners.png);
     border-image-slice: 40%;
     border-image-width: calc( var(--em) * 7 );
    border-image-repeat: stretch;
    border-image-outset: calc( var(--em) * 2.3 );
}
/* Colors of tapes: */
figure.tape.beige::after  { filter: hue-rotate(0deg); }
figure.tape.green::after  { filter: hue-rotate(40deg); }
figure.tape.teal::after   { filter: hue-rotate(120deg); }
figure.tape.blue::after   { filter: hue-rotate(160deg); }
figure.tape.violet::after { filter: hue-rotate(200deg); }
figure.tape.pink::after   { filter: hue-rotate(240deg); }
figure.tape.red::after    { filter: hue-rotate(290deg); }
figure.tape.orange::after { filter: hue-rotate(330deg); }




/* Doodles */
div.dbox {
            display: flex;
    justify-content: center;
        align-items: center;
         text-align: center;
            padding: 3%;
}
div.dbox::before {
             content: '';
            position: absolute;
               inset: 0;
             opacity: 0.6;
             background-repeat: no-repeat;
             background-size: cover;
}
div.dbox.box-00 {
    aspect-ratio: 3/2;
}
div.dbox.box-00::before {
    background-image: url(../images/doodles/box-00.png);
}
div.dbox.box-01, div.dbox.box-02, div.dbox.box-06, div.dbox.box-10 {
    aspect-ratio: 1/1;
}
div.dbox.box-01::before {
    background-image: url(../images/doodles/box-01.png);
}
div.dbox.box-02::before {
    background-image: url(../images/doodles/box-02.png);
}
div.dbox.box-03 {
    aspect-ratio: 2/1;
}
div.dbox.box-03::before {
    background-image: url(../images/doodles/box-03.png);
}
div.dbox.box-04 {
    aspect-ratio: 4/3;
}
div.dbox.box-04::before {
    background-image: url(../images/doodles/box-04.png);
}
div.dbox.box-05::before {
    background-image: url(../images/doodles/box-05.png);
}
div.dbox.box-06::before {
    background-image: url(../images/doodles/box-06.png);
}
div.dbox.box-07 {
        aspect-ratio: 4/5;
}
div.dbox.box-07::before {
    background-image: url(../images/doodles/box-07.png);
}
div.dbox.box-08, div.dbox.box-09, div.dbox.box-05 {
        aspect-ratio: 5/4;
}
div.dbox.box-08::before {
    background-image: url(../images/doodles/box-08.png);
}
div.dbox.box-09::before {
    background-image: url(../images/doodles/box-09.png);
}
div.dbox.box-10::before {
    background-image: url(../images/doodles/box-10.png);
}



/* Sticky note: */
div.stickynote {
         --col: #fff9a8;
         width: 30%;
        height: 30%;
       padding: 2%;
    box-shadow: var(--boxshadow01);
    background:
        /* lifted corner shadow */
        radial-gradient(circle at 100% 100%,
            rgba(0,0,0,.18) 0,
            rgba(0,0,0,.08) 2%,
            transparent 10%),
        /* slight darkening toward the peeled corner */
        linear-gradient(to bottom right,
            transparent 70%,
            rgba(0,0,0,.08) 100%),
        /* paper */
        linear-gradient(var(--col));
}
div.stickynote.var01 {
    border: 5px solid black;
}
div.stickynote.var02 {
      --outlinecol: #444444;
           outline: 5px solid var(--outlinecol);
    outline-offset: calc( -1 * var(--emd2));
}
div.stickynote.var03 {
             --col: #f3f3f1;
            --bcol: white;
            border: var(--emd2) solid var(--bcol);
      --outlinecol: #444444;
           outline: 5px solid var(--outlinecol);
    outline-offset: calc( -1 * var(--emd2));
}




/* Polaroid effect */
figure.polaroid {
              --polw: calc( var(--em) * 13 );
               width: var(--polw);
             padding: calc( var(--polw) * 0.055 );
      padding-bottom: 0;
    background-color: white;
          box-shadow: var(--boxshadow05);
}
figure.polaroid img {
        filter: saturate(70%) sepia(20%) blur(0.3px);
    box-shadow: 0 0 0;
}
figure.polaroid div {
             height: calc( var(--polw) * 0.27 );
            display: flex;
               left: 0;
    justify-content: center;
        align-items: center;
   background-color: white;
}




/* Arrows with caption */
div.arrowscript {
     width: 50%;
    height: 50%;
    /* border: 1px solid red; */
}
div.arrowscript img {
       --rot: 0deg;
       --scX: 1;
       --scY: 1;
       width: 4em;
    position: absolute;
         top: 50%;
        left: 50%;
   transform: translate(-50%, -50%) rotate(var(--rot)) scaleX(var(--scX)) scaleY(var(--scY));
      filter: opacity(0.8);
}
div.arrowscript p.topleft {
     position: absolute;
          top: 0;
         left: 0;
}
div.arrowscript p.topright {
     position: absolute;
          top: 0;
        right: 0;
}
div.arrowscript p.topcenter {
     position: absolute;
          top: 0;
         left: 50%;
    transform: translate(-50%, -0%);
}
div.arrowscript p.middleleft {
     position: absolute;
          top: 50%;
         left: 0;
    transform: translate(-0%, -50%);
}
div.arrowscript p.middleright {
     position: absolute;
          top: 50%;
        right: 0;
    transform: translate(-0%, -50%);
}
div.arrowscript p.middlecenter {
     position: absolute;
          top: 50%;
         left: 50%;
    transform: translate(-50%, -50%);
}
div.arrowscript p.bottomleft {
     position: absolute;
       bottom: 0;
         left: 0;
    transform: translate(-0%, -0%);
}
div.arrowscript p.bottomright {
     position: absolute;
       bottom: 0;
        right: 0;
}
div.arrowscript p.bottomcenter {
    position: absolute;
      bottom: 0;
        left: 50%;
   transform: translate(-50%, -0%);
}



/* Drawn borders: */
.dborder img { box-shadow: var(--boxshadow02); }
.dborder.plain {
                 border: calc( var(--em) * 0.4 ) solid transparent;
           border-image: url(../images/borders/border_plain.png) 35 stretch;
    border-image-outset: calc( var(--em) * 0.1 );
}
.dborder.stamp {
                 border: calc( var(--em) * 0.6 ) solid transparent;
           border-image: url(../images/borders/border_stamp.png) 10% round;
    border-image-outset: calc( var(--em) * 0.1 );
}
.dborder.wavy {
                 border: calc( var(--em) * 0.6 ) solid transparent;
           border-image: url(../images/borders/border_wavy.png) 70 round;
    border-image-outset: calc( var(--em) * 0.1 );
}
.dborder.hearts {
           border-image: url(../images/borders/border_hearts.png);
     border-image-slice: 20%;
     border-image-width: calc( var(--em) * 1 );
    border-image-repeat: round;
    border-image-outset: calc( var(--em) * 1 );
}
.dborder.stars {
           border-image: url(../images/borders/border_stars.png);
     border-image-slice: 20%;
     border-image-width: calc( var(--em) * 1 );
    border-image-repeat: round;
    border-image-outset: calc( var(--em) * 1 );
}
/* .dborder.space02 {
           border-image: url(../images/borders/border_space02.png);
     border-image-slice: 20%;
     border-image-width: calc( var(--em) * 1 );
    border-image-repeat: round;
    border-image-outset: calc( var(--em) * 1 );
} */



.vcenter {
  height: 30em;           /* or any known height */
  display: flex;           /* or: display: grid */
  align-items: center;     /* grid: place-items: center; */
  justify-content: center; /* optional: horizontal centering */
}


/* .space01 {
             display: flex;
         align-items: center;
     justify-content: center;
          text-align: center;
}
.space01::after {
            position: absolute;
                 top: 0;
               right: 0;
              bottom: 0;
                left: 0;
             content: '';
    background-image: url(../images/borders/border_space01.png);
     background-size: contain;
   background-repeat: no-repeat;
             opacity: 0.8;
} */



/* Photo borders: */
figure.pborder img {
       box-shadow: 0 0 0 0;
    /* border-radius: 1%;  */
}
figure.pborder.old01 {
                 border: calc( var(--em) * 1 ) solid transparent;
           border-image: url(../images/borders/border_old01.png) 5% round;
    border-image-outset: 0;
}
figure.pborder.old02 {
                 border: calc( var(--em) * 1 ) solid transparent;
           border-image: url(../images/borders/border_old02.png) 5% round;
    border-image-outset: 0;
}



/* Drawn corners */
img.corner {
        --os: calc( var(--em) * -1 );    /* outset */
    position: absolute;
       width: 22%;
      filter: opacity(80%);
     z-index: -4;
}
img.corner.topleft {
       top: var(--os);
      left: calc( var(--os) * 1.1 );
}
img.corner.bottomleft {
    bottom: var(--os);
      left: calc( var(--os) * 1.1 );
 transform: rotate(-90deg);
}
img.corner.topright {
       top: var(--os);
     right: calc( var(--os) * 1.1 );
 transform: rotate(90deg);
}
img.corner.bottomright {
    bottom: var(--os);
     right: calc( var(--os) * 1.1 );
 transform: rotate(180deg);
}



/* Passepartouts */
figure.passepartout {
      /* box-shadow: 0 0 calc( var(--em) * 1 ) calc( var(--em) * 0.05 ) var(--shadow01) inset; */
      /* border: calc( var(--em) * 0.3 ) solid rgba(0, 0, 0, .1); */
      box-shadow: 0 0 calc( var(--em) * 1 ) calc( var(--em) * 0.3 ) var(--shadow01) inset;
          border: calc( var(--em) * 0.3 ) solid rgba(0, 0, 0, .1);
      border-top: calc( var(--em) * 0.3 ) solid rgba(0, 0, 0, .2);
    border-right: calc( var(--em) * 0.3 ) solid rgba(0, 0, 0, .2);
 transform-style: preserve-3d;
}
figure.passepartout img {
    vertical-align: top;
          position: relative;
         transform: translateZ( calc( var(--em) * -1 ) );
}
figure.passepartout.oval {
           border: calc( var(--em) * 0.5 ) solid rgba(0, 0, 0, .15);
       border-top: calc( var(--em) * 0.5 ) solid rgba(0, 0, 0, .15);
     border-right: calc( var(--em) * 0.5 ) solid rgba(0, 0, 0, .15);
}



/* Rubber stamps */
figure.stamp img {
     filter: opacity(80%);
    z-index: -1;
}
img.stamp {
    filter: opacity(80%);
}



/* Paper clips */
figure.clip {
    /* padding: 1%; */
}
figure.clip img {
    box-shadow: var(--boxshadow02);
}
figure.clip.t::after {
            position: absolute;
             content: '';
    background-image: url(../images/elements/clip_o.png);
   background-repeat: no-repeat;
     background-size: calc( var(--em) * 2 );
    transform-origin: 0% 0%;
           transform: rotate(4deg);
               width: 100%;
              height: 100%;
                 top: -4%;
                left: 75%;
}
figure.clip.b::after {
            position: absolute;
             content: '';
    background-image: url(../images/elements/clip_i.png);
   background-repeat: no-repeat;
     background-size: calc( var(--em) * 2 );
    transform-origin: 0% 0%;
           transform: rotate(180deg);
               width: 100%;
              height: 100%;
                 top: 103%;
                left: 90%;
}
figure.clip.l::after {
            position: absolute;
             content: '';
    background-image: url(../images/elements/clip_o.png);
   background-repeat: no-repeat;
     background-size: calc( var(--em) * 2 );
    transform-origin: 0% 0%;
           transform: rotate(-95deg);
               width: 100%;
              height: 100%;
                 top: 85%;
                left: -2%;
}
figure.clip.r::after {
            position: absolute;
             content: '';
    background-image: url(../images/elements/clip_i.png);
   background-repeat: no-repeat;
     background-size: calc( var(--em) * 2 );
    transform-origin: 0% 0%;
           transform: rotate(62deg);
               width: 100%;
              height: 100%;
                 top: 50%;
                left: 99%;
}



/* Stickers and scraps */
figure.scraps img {
    filter: drop-shadow(2px 2px 2px rgba(var(--text), 1));
}



/* Dried pressed flowers */
figure.flowers {
    position: absolute;
}
figure.flowers img {
    position: absolute;
}



/* Centering text over images */
figure.arrow figcaption, figure.scraps figcaption {
              width: 100%;
             height: 100%;
            display: flex;
    justify-content: center;
        align-items: center;
                top: 50%;
               left: 50%;
          transform: translate(-50%, -50%);
          font-size: 50px;
}

figure.scraps figcaption {
    filter: blur(0.5px);
}
