/* stylesheet for neftox scrapbooks */


/*--- TEXT STYLES ----------------------------------------------------------- */

div.abs { position: absolute; }

/* Wrap text inside a circle (not as easy as it sounds): */
div.circletext {
              --p: 2%; /*padding*/
    border-radius: 50%;
       text-align: justify;
           /* border: 4px double rgba(var(--text), 1); */
}
div.circletext i,
div.circletext::before {
          content: '';
            float: left;
           height: 100%;
            width: 50%;
    shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - var(--p)), #fff 0);
}
div.circletext i {
            float: right;
    shape-outside: radial-gradient(farthest-side at left,  transparent calc(100% - var(--p)), #fff 0);
}



/* Classes for list item separation: */
ul, ol {
    margin: var(--boxmargin);
    /* list-style-type: circle; */
}
li:not(:last-child) { margin-bottom: calc(var(--fontsize) * 0.5); }
ul.ultrawide  li:not(:last-child) { margin-bottom: calc(var(--fontsize) * 1.5); }
ul.wide       li:not(:last-child) { margin-bottom: calc(var(--fontsize) * 0.8); }
ul.tight      li:not(:last-child) { margin-bottom: calc(var(--fontsize) * 0.3); }

p {
    margin: 0;
   padding: var(--textpadding) 0;
     color: rgba(var(--text), 1);
}
p.headline {
     font-size: calc( var(--fontsize) * 2 );
   font-weight: bold;
    text-align: center;
         color: rgba(var(--text), 1);
}
p.subheadline {
     font-size: calc( var(--fontsize) * 1.5 );
   font-weight: bold;
    text-align: center;
         color: rgba(var(--text), 1);
}
p.caption {
       position: absolute;
    font-family: sans-serif;
      font-size: calc( var(--fontsize) - 0.9 );
}
p.abs {
    position: absolute;
    width: 100%;
}

hr {
    border: 0;
    background-color: rgba(var(--text), 1);
}

.abs { position: absolute; }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* General text and list styles: */
.huge {  font-size: calc(var(--fontsize) * 2); }
.large { font-size: calc(var(--fontsize) * 1.2); }
.normal { font-size: calc(var(--fontsize) * 1); }
.small { font-size: calc(var(--fontsize) * 0.8); }
.tiny {  font-size: calc(var(--fontsize) * 0.6); }
.bold { font-weight: bold; }
.tty { font-family: monospace; }

.none { list-style: none; }
/* Classes for horizontal alignment: */
.left   { text-align: left; }
.right  { text-align: right; }
.center { text-align: center; }
/* Classes for vertical alignment: */
.top    { vertical-align: top; }
.bottom { vertical-align: bottom; }
.middle { vertical-align: middle; }

/* Shadows */
:root {
          --shadow01 : rgba(50, 50, 50, 1);

       --boxshadow01 : calc( var(--em) * 0.03 ) calc( var(--em) * 0.03 ) calc( var(--em) * 0.1 ) var(--shadow01);
       --boxshadow02 : calc( var(--em) * 0.05 ) calc( var(--em) * 0.05 ) calc( var(--em) * 0.1 ) var(--shadow01);
       --boxshadow03 : calc( var(--em) * 0.07 ) calc( var(--em) * 0.07 ) calc( var(--em) * 0.15 ) var(--shadow01);
       --boxshadow05 : calc( var(--em) * 0.2 ) calc( var(--em) * 0.2 ) calc( var(--em) * 0.3) calc( var(--em) * -0.3 ) var(--shadow01);
}

.shadow {      text-shadow: 0.1vh 0.1vh 0.1vh rgba(var(--text), 1); }
.shadowwhite { text-shadow: 0.1vh 0.1vh 0.1vh white; }
.boxshadow { box-shadow: var(--boxshadow02); }
.maxshadow { box-shadow: 0.1vh 0.1vh 0.1vh rgba(var(--text), 1); }
.minshadow { box-shadow: 0.03vh 0.03vh 0.03vh rgba(var(--text), 1); }
.fshadow { filter: drop-shadow(0.05vh 0.05vh 0.1vh rgba(var(--text), 1)); }
.minfshadow { filter: drop-shadow(0.03vh 0.03vh 0.03vh rgba(var(--text), 1)); }
.engraving {  filter: drop-shadow(0 0 0.03vh rgba(var(--text), 1)); }
.border { border: 5px solid white; }
.opc { filter: opacity(80%); }






/*--- IMAGES AND BORDERS ---------------------------------------------------- */

figure {
    position: relative;
      margin: 0;
     padding: 0;
  text-align: center;
}
figure.abs {
    position: absolute;
}
figure.abs.top {
    top: 0;
}
figure.abs.bottom {
    bottom: calc( 0px - var(--footerheight) );
}
figcaption {
    position: absolute;
 padding-top: calc( var(--em) * 0.2 );
   font-size: calc( var(--fontsize) * 0.8 );
     z-index: 2;
  text-align: center;
       width: 100%;
}
figcaption.t {
    top: 0;
}
figcaption.l {
          top: 50%;
        right: 55%;
    transform: rotate(-90deg);
}
figcaption.r {
          top: 50%;
         left: 55%;
    transform: rotate(-90deg);
}
figcaption.centered {
              width: 100%;
             height: 100%;
            display: flex;
    justify-content: center;
        align-items: center;
                top: 50%;
               left: 50%;
          transform: translate(-50%, -50%);
          /* font-size: 50px; */
}

img {
           width: 100%;
    border-color: rgba(var(--text), 1);
}
img.abs { position: absolute; }

figure img {
    vertical-align: top;
}
.oval, .oval img {
    border-radius: 50%;
}

/* Simple frames with shadow */
figure.framing {
          box-shadow: var(--boxshadow02);
             padding: 2%;
    background-color: white;
}
figure.framing img {
    box-shadow: var(--boxshadow01);
}
figure.framing figcaption {
    position: absolute;
         top: 102%;
}


/* Masking tape */
figure.tape {
         padding: calc( var(--em) * 0.75 );
         z-index: 1;
          /* border: 1px solid red; */
}
figure.tape img {
    position: relative;
     z-index: 0;
       width: 100%;
  box-shadow: var(--boxshadow01);
}
figure.tape::after {
        position: absolute;
             top: 0;
           right: 0;
          bottom: 0;
            left: 0;
         content: '';
    border-image: url(../images/borders/tape_sides.png) 80 stretch;
}
figure.tape.dots::after {
    border-image: url(../images/borders/tape_sides_dots.png) 80 stretch;
}
figure.tape.stripes::after {
    border-image: url(../images/borders/tape_sides_stripes.png) 80 stretch;
}
figure.tape.stripes45::after {
    border-image: url(../images/borders/tape_sides_stripes45.png) 80 stretch;
}
figure.tape.c.dots::after {
    border-image: url(../images/borders/tape_corners_dots.png) 600 stretch;
}
figure.tape.c.stripes::after {
    border-image: url(../images/borders/tape_corners_stripes.png) 600 stretch;
}
figure.tape.c.stripes45::after {
    border-image: url(../images/borders/tape_corners_stripes45.png) 600 stretch;
}
figure.tape.t::after {
      border-top: calc( var(--em) * 1.5 ) solid transparent;
}
figure.tape.b::after {
   border-bottom: calc( var(--em) * 1.5 ) solid transparent;
}
figure.tape.l::after {
     border-left: calc( var(--em) * 1.5 ) solid transparent;
}
figure.tape.r::after {
    border-right: calc( var(--em) * 1.5 ) solid transparent;
}
figure.tape.c::after {
          border: calc( var(--em) * 3 ) solid transparent;
    border-image: url(../images/borders/tape_corners.png) 600 stretch;
}
/* Colors of tapes: */
figure.tape.red::after    { filter: hue-rotate(0deg); }
figure.tape.orange::after { filter: hue-rotate(30deg); }
figure.tape.yellow::after { filter: hue-rotate(50deg); }
figure.tape.green::after  { filter: hue-rotate(130deg); }
figure.tape.teal::after   { filter: hue-rotate(180deg); }
figure.tape.blue::after   { filter: hue-rotate(-160deg); }
figure.tape.pink::after   { filter: hue-rotate(-50deg); }
figure.tape.violet::after { filter: hue-rotate(-100deg); }


/* Polaroid effect */
figure.polaroid {
              --polw: calc( var(--em) * 20 );
               width: var(--polw);
             padding: calc( var(--polw) * 0.055 );
      padding-bottom: 0;
    background-color: white;
          box-shadow: var(--boxshadow05);
}
figure.polaroid img {
        filter: saturate(70%) sepia(20%) blur(0.3px);
    box-shadow: 0 0 0;
}
figure.polaroid figcaption {
             height: calc( var(--polw) * 0.22 );
            display: flex;
               left: 0;
    justify-content: center;
        align-items: center;
   background-color: white;
         box-shadow: var(--boxshadow05);
         /* margin-top: -3px; */
}

/* Drawn borders: */
figure.dborder img { box-shadow: var(--boxshadow01); }
figure.dborder.plain {
                 border: calc( var(--em) * 0.4 ) solid transparent;
           border-image: url(../images/borders/border_plain.png) 35 stretch;
    border-image-outset: calc( var(--em) * 0.1 );
}
figure.dborder.stamp {
                 border: calc( var(--em) * 0.6 ) solid transparent;
           border-image: url(../images/borders/border_stamp.png) 10% round;
    border-image-outset: calc( var(--em) * 0.1 );
}
figure.dborder.wavy {
                 border: calc( var(--em) * 0.6 ) solid transparent;
           border-image: url(../images/borders/border_wavy.png) 70 round;
    border-image-outset: calc( var(--em) * 0.1 );
}

/* Photo borders: */
figure.pborder img {
    box-shadow: 0 0 0 0;
    border-radius: 1%; }
figure.pborder.old01 {
                 border: calc( var(--em) * 1 ) solid transparent;
           border-image: url(../images/borders/border_old01.png) 5% round;
    border-image-outset: 0;
}
figure.pborder.old02 {
                 border: calc( var(--em) * 1 ) solid transparent;
           border-image: url(../images/borders/border_old02.png) 5% round;
    border-image-outset: 0;
}


/* Drawn corners */
img.corner {
        --os: calc( var(--em) * -1 );    /* outset */
    position: absolute;
       width: 22%;
      filter: opacity(80%);
     z-index: -4;
}
img.corner.topleft {
       top: var(--os);
      left: calc( var(--os) * 1.1 );
}
img.corner.bottomleft {
    bottom: var(--os);
      left: calc( var(--os) * 1.1 );
 transform: rotate(-90deg);
}
img.corner.topright {
       top: var(--os);
     right: calc( var(--os) * 1.1 );
 transform: rotate(90deg);
}
img.corner.bottomright {
    bottom: var(--os);
     right: calc( var(--os) * 1.1 );
 transform: rotate(180deg);
}


/* Fabric borders */
/* figure.fborder {
    box-shadow: 1px 1px 15px 1px rgba(50, 50, 50, 0.5);
}
figure.fborder img {
    box-shadow: 1px 1px 2px 1px rgba(50, 50, 50, 0.5);
}
figure.fborder.kloeppel {
                 border: 70px solid transparent;
           border-image: url(../images/borders/kloeppel_01.png) 90 round;
    border-image-outset: 10px 6px 15px 3px;
             box-sizing: border-box;
       background-color: #fff9f3;
} */


/* Passepartouts */
figure.passepartout {
      box-shadow: 0 0 calc( var(--em) * 1 ) calc( var(--em) * 0.05 ) var(--shadow01) inset;
          border: calc( var(--em) * 0.3 ) solid rgba(0, 0, 0, .1);
      border-top: calc( var(--em) * 0.3 ) solid rgba(0, 0, 0, .2);
    border-right: calc( var(--em) * 0.3 ) solid rgba(0, 0, 0, .2);
 transform-style: preserve-3d;
}
figure.passepartout img {
    vertical-align: top;
          position: relative;
         transform: translateZ( calc( var(--em) * -1 ) );
}
figure.passepartout.oval {
           border: calc( var(--em) * 0.4 ) solid rgba(0, 0, 0, .1);
       border-top: calc( var(--em) * 0.4 ) solid rgba(0, 0, 0, .1);
     border-right: calc( var(--em) * 0.4 ) solid rgba(0, 0, 0, .1);
}


/* Rubber stamps */
figure.stamp img {
    filter: opacity(80%);
}
img.stamp {
    filter: opacity(80%);
}


/* Paper clips */
figure.clip {
    padding: 1%;
}
figure.clip img {
    box-shadow: var(--boxshadow02);
}
figure.clip.t::after {
            position: absolute;
             content: '';
    background-image: url(../images/elements/clip_o.png);
   background-repeat: no-repeat;
     background-size: calc( var(--em) * 1.5 );
    transform-origin: 0% 0%;
           transform: rotate(4deg);
               width: 100%;
              height: 100%;
                 top: -4%;
                left: 75%;
}
figure.clip.b::after {
            position: absolute;
             content: '';
    background-image: url(../images/elements/clip_i.png);
   background-repeat: no-repeat;
     background-size: 60px;
    transform-origin: 0% 0%;
           transform: rotate(180deg);
               width: 100%;
              height: 100%;
                 top: 103%;
                left: 30%;
}
figure.clip.l::after {
            position: absolute;
             content: '';
    background-image: url(../images/elements/clip_o.png);
   background-repeat: no-repeat;
     background-size: 60px;
    transform-origin: 0% 0%;
           transform: rotate(-95deg);
               width: 100%;
              height: 100%;
                 top: 85%;
                left: -2%;
}
figure.clip.r::after {
            position: absolute;
             content: '';
    background-image: url(../images/elements/clip_i.png);
   background-repeat: no-repeat;
     background-size: 60px;
    transform-origin: 0% 0%;
           transform: rotate(62deg);
               width: 100%;
              height: 100%;
                 top: 50%;
                left: 99%;
}


/* Stickers and scraps */
figure.scraps img {
    filter: drop-shadow(2px 2px 2px rgba(var(--text), 1));
}


/* Dried pressed flowers */
figure.flowers {
    position: absolute;
}
figure.flowers img {
    position: absolute;
}



/* Centering text over images */
figure.arrow figcaption, figure.scraps figcaption {
              width: 100%;
             height: 100%;
            display: flex;
    justify-content: center;
        align-items: center;
                top: 50%;
               left: 50%;
          transform: translate(-50%, -50%);
          font-size: 50px;
}

figure.scraps figcaption {
    filter: blur(0.5px);
}
