/* --- PAGE SETUP ----------------------------------------------------------- */

/* box behaviour */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

/* Widths and heights */
:root {
       --basesize: calc( var(--totalheight) / 50 );
             --em: var(--basesize);
           --emd2: calc( var(--basesize) / 2 );
          --emd10: calc( var(--basesize) / 10 );
       --fontsize: calc( var(--totalheight) * var(--fontfactor) / 50 );
    --footerwidth: calc( var(--totalwidth) - var(--bindingoffset) );
   --footerheight: calc( 3 * var(--fontsize) );
      --boxmargin: 0px;
     --boxpadding: 0px;
    --textpadding: 0px;
}

body {
        margin: 0;
       padding: 0;
    background: white;
   font-family: var(--fontfamily);
         width: calc(var(--totalwidth) * var(--layflat));
     /* min-width: calc(var(--totalwidth) * var(--layflat)); */
     /* border: 1px solid blue; */
}


/* Specify the frame containers. */
div.frame {
            width: calc(var(--totalwidth) - var(--bindingoffset));
           height: var(--totalheight);
          /* padding: calc(var(--boxpadding) / 2); */
        clip-path: border-box;
    margin-bottom: 1%;
           /* border: 1px solid red; */
}
div.frame.even {
    margin-left: var(--bindingoffset);
}
div.frame.odd {
    margin-right: var(--bindingoffset);
}

div.frame.layflat {
          display: inline-block;
        clip-path: none;
       overflow-y: clip;
    /* margin-bottom: calc(var(--boxmargin) / -2); */
}
div.frame.layflat.even {
         float: left;
    overflow-x: visible;
  /* border-right: 1px dashed gray; */
}
div.frame.layflat.odd {
    overflow-x: hidden;
}


div.background {
        position: absolute;
           width: calc( var(--totalwidth) * var(--layflat) ) ;
          height: var(--totalheight);
 /* background-size: cover; */
         z-index: -100;
         /* border: 1px solid green; */
}


/* --- CELLS ---------------------------------------------------------------- */

div.cell {
            position: relative;
              /* margin: var(--boxmargin);
             padding: var(--boxpadding); */
     background-size: cover;
           font-size: var(--fontsize);
               color: rgba(var(--text), 1);
             /* border: 1px solid red; */
}

div.cell.plain.BOX1 {
         width: calc( 100% - 2 * var(--boxmargin) );
        height: calc( var(--totalheight) - 4 * var(--boxmargin) );
    visibility: hidden;
}

div.cell.onebox.BOX1 {
         width: calc( 100% - 2 * var(--boxmargin) );
        height: calc( var(--totalheight) - var(--footerheight) - 6 * var(--boxmargin) );
    visibility: hidden;
}

div.cell.smallbox.BOX1 {
         width: calc( var(--totalwidth) * 0.75 );
        height: calc( var(--totalheight) * 0.75 );
 margin-bottom: calc( var(--totalheight) * 0.25 - 5 * var(--boxmargin) - var(--footerheight) );
           top: 50%;
          left: 50%;
     transform: translate(-50%, -50%);
    visibility: hidden;
}

div.cell.columns.BOX1 {
         float: left;
         width: calc( 50% - 2 * var(--boxmargin) );
        height: calc( var(--totalheight) - var(--footerheight) - 6 * var(--boxmargin));
    visibility: hidden;
}

div.cell.columns.BOX2 {
         float: right;
         width: calc( 50% - 2 * var(--boxmargin) );
        height: calc( var(--totalheight) - var(--footerheight) - 6 * var(--boxmargin));
    visibility: hidden;
}

div.cell.rows.BOX1 {
         width: calc( 100% - 2 * var(--boxmargin) );
        height: calc( var(--totalheight) / 2 - 8 * var(--boxmargin) );
    visibility: hidden;
}

div.cell.rows.BOX2 {
         width: calc( 100% - 2 * var(--boxmargin) );
        /* height: calc( var(--totalheight) / 2 - 8 * var(--boxmargin) ); */
        height: calc( var(--totalheight) / 2 - var(--footerheight) );
    visibility: hidden;
}

div.cell.BOXFOOTER {
         display: inline-block;
           width: var(--footerwidth);
          height: var(--footerheight);
          margin: var(--boxmargin);
      text-align: center;
       /* border: 1px solid green; */
}


span.footer.title {
         width: 80%;
}
span.footer.float {
    width: 10%;
}
span.footer.float.odd {
    float: left;
}
span.footer.float.even {
    float: right;
}
span.footer.page {
    width: 10%;
}
span.footer.page.odd {
         float: right;
    text-align: center;
}
span.footer.page.even {
         float: left;
    text-align: center;
}


div.cell.columns-fleft.BOX1 {
         float: left;
         width: calc( 50% - var(--footerheight) );
        height: calc(var(--totalheight) - 4 * var(--boxmargin));
   margin-left: var(--footerheight);
    visibility: hidden;
}

div.cell.columns-fleft.BOX2 {
         float: right;
         width: 50%;
        height: calc(var(--totalheight) - 4 * var(--boxmargin));
    visibility: hidden;
}
div.cell.rows-fleft.BOX1 {
         float: right;
         width: calc(var(--totalwidth) - var(--footerheight) - 6 * var(--boxmargin));
        height: calc( ( var(--totalheight) / 2 ) - 4 * var(--boxmargin) - var(--boxpadding));
    visibility: hidden;
}
div.cell.rows-fleft.BOX2 {
         float: right;
         width: calc(var(--totalwidth) - var(--footerheight) - 6 * var(--boxmargin));
        /* height: calc((var(--totalheight) - 5 * var(--boxmargin)) * 0.5); */
        height: calc( var(--totalheight) / 2 );
    visibility: hidden;
}

div.cell.BOXFOOTER-left {
           float: left;
           width: var(--footerheight);
          /* height: calc(var(--totalheight) - 4 * var(--boxmargin)); */
           color: rgba(var(--text), 0.7);
}

div.BOXFOOTER-left span.footer {
             display: block;
            /* position: relative; */
    transform-origin: top left;
                left: 0;
                 top: 0;
        /* padding-left: var(--boxpadding); */
           transform: rotate(-90deg) translateX(calc(-100% + 2 * var(--boxmargin))) translateY(calc(-2 * var(--boxmargin)));
               width: calc(var(--totalheight) - 4 * var(--boxmargin));
              height: var(--footerheight);
         line-height: var(--footerheight);
}
div.BOXFOOTER-left span.page {
     display: block;
    position: relative;
 margin-left: calc(-1 * var(--boxpadding));
  margin-top: calc(var(--totalheight) - 4 * var(--boxmargin) - var(--boxpadding) - 2 * var(--footerwidth));
       width: var(--footerwidth);
      height: var(--footerwidth);
  text-align: center;
 line-height: var(--footerwidth);
 font-weight: bold;
}

div.BOXFOOTER-left span.date {
         position: absolute;
            right: 0;
    /* padding-right: calc(1.5 * var(--boxpadding)); */
    padding-right: 2%;
}

div.BOXFOOTER-left span.title {
     position: absolute;
        width: calc(var(--totalheight) * 0.5);
   text-align: center;
  font-weight: bold;
}

div.BOXFOOTER-left span.author {
     padding-left: 2%;
}
