/* palette light */
:root {
    --lightgrey: 219, 219, 219;
    --whitesand: 255, 248, 239;
        --white: 255, 255, 255;
         --onyx:  50,  55,  59;
     --orangine: 255, 109,   0;
}

/* palette plain black */
:root {
        --black:   0,   0,   0;
        --black:   0,   0,   0;
        --black:   0,   0,   0;
    --alabaster: 255, 250, 241;
    --jordiblue: 148, 194, 255;
}

/* palette beach */
:root {
        --ocean: 130, 190, 255;
         --sand: 255, 236, 207;
        --white: 255, 255, 255;
         --onyx:  50,  55,  59;
    --tangerine: 255, 109,   0;
}

/* palette antarctica */
:root {
      --opensea:  68, 125, 187;
      --iceberg: 172, 218, 255;
         --bone: 238, 238, 238;
     --darkonyx:  40,  45,  49;
    --tangerine: 255, 109,   0;
}

/* palette tacky */
:root {
     --spray: 134, 254, 255;
 --pinkapple: 237, 191, 230;
    --pollen: 255, 222, 152;
      --onyx:  50,  55,  59;
      --cake: 255,  65, 179;
}

/* palette aurora australis */
:root {
     --night:  85, 130, 173;
   --eoxygen: 255, 227, 227;
   --moxygen: 195, 255, 236;
      --onyx:  50,  55,  59;
     --apple: 255,  65,  80;
}

/* palette summer */
:root {
     --lemon: 255, 238, 134;
     --peach: 237, 191, 179;
   --moxygen: 195, 255, 236;
      --onyx:  50,  55,  59;
     --apple: 255,  65,  80;
}
