/*
FONT = CedarvilleCursive
*/

div.background {
    background-image: url(../images/backgrounds/paper-01-SQ.jpg);
              filter: saturate(80%);
     background-size: 12%;
}

div.cell.BOXFOOTER {
    color: rgba(var(--text), 0.8);
    font-family: Dancing Script;
}

figure.dborder {
                 border: calc( var(--em) * 0.6 ) solid transparent;
           border-image: url(../images/borders/border_wavy.png) 70 round;
    border-image-outset: calc( var(--em) * 0.1 );
}
