<!-- BOX1, BOX2, BOXFOOTER -->

    {background}

    <div class="frame" id="frame-{#}">

        <div class="row">

            <div class="cell BOXFOOTER-left" {BOXFOOTER style}>
                <table class="footer"><tr class="footer">
                    <td class="page">{page}</td>
                    <td class="author">{AUTHOR}</td>
                    <td class="title">{TITLE}</td>
                    <td class="date">{DATE}</td>
                </tr></table>
            </div>

            <div class="cell columns-fleft BOX1" {BOX1 style}>
                {BOX1}
            </div>

            <div class="cell columns-fleft BOX2" {BOX2 style}>
                {BOX2}
            </div>

        </div>

    </div>
