:root {
    --grad1:   0,   0,   0;
    --grad2:   0,   0,   0;
    --grad3:   0,   0,   0;
    --text: 255, 250, 241;
    --highlight: 148, 194, 255;
}
:root {
    --fontfamily: Gentium;
    --basesize: 36.0px;
}
@font-face {
    font-family: Gentium;
    src: url('/usr/share/fonts/truetype/gentium/Gentium-R.ttf');
}
