:root {
    --grad1: 219, 219, 219;
    --grad2: 255, 248, 239;
    --grad3: 255, 255, 255;
    --text:  50,  55,  59;
    --highlight: 255, 109,   0;
}
:root {
    --fontfamily: Gentium;
    --basesize: 30.0px;
}
@font-face {
    font-family: Gentium;
    src: url('/usr/share/fonts/truetype/gentium/Gentium-R.ttf');
}
