:root {
    --box: 248, 248, 248;
    --text:  17,  45,  64;
    --color: 248, 248, 248;
    --highlight:  17,  45,  64;
    --back: 228, 228, 228;
}
:root {
    --fontfamily: nefcal;
    --basesize: 33.0px;
}
@font-face {
    font-family: nefcal;
    src: url('/home/nechnif/.local/share/fonts/nefcal-Regular.ttf');
}
