<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="./parse.css">
</head>
<body>

<!-- FRAME #0 -->
<!-- BOX1 -->

    <div class="background"></div>


    <div class="frame layflat even" id="frame-0">

        <div class="cell plain BOX1" style=" visibility: visible;">
            <p class="HIDE topleft">TEMPLATE: plain<br>LAYOUT: plain</p>
    <p class="HIDE topright">BOX1</p>
        </div>

    </div>

<!-- FRAME #1 -->
<!-- BOX1 -->

    <div class="background"></div>


    <div class="frame layflat odd" id="frame-1">

        <div class="cell onebox BOX1" style=" visibility: visible;">
            <p class="HIDE topleft">TEMPLATE: onebox<br>LAYOUT: onebox</p>
    <p class="HIDE topright">BOX1</p>
        </div>

        <div class="cell BOXFOOTER" {BOXFOOTER style}>
            <span class="footer float odd">&#160;</span>
            <span class="footer title odd">Templates</span>
            <span class="footer page odd">1</span>
        </div>

    </div>

<!-- FRAME #2 -->
<!-- BOX1, BOXFOOTER -->

    <div class="background"></div>


    <div class="frame layflat even" id="frame-2">

        <div class="cell smallbox BOX1" style=" visibility: visible;">
            <p class="HIDE topleft">TEMPLATE: smallbox<br>LAYOUT: smallbox</p>
    <p class="HIDE topright">BOX1</p>
        </div>

        <div class="cell BOXFOOTER" >
            <span class="footer float even">&#160;</span>
            <span class="footer title even">Templates</span>
            <span class="footer page even">2</span>
        </div>

    </div>

<!-- FRAME #3 -->
<!-- BOX1, BOX2, BOXFOOTER -->

    <div class="background"></div>


    <div class="frame layflat odd" id="frame-3">

        <div class="cell columns BOX1" style=" visibility: visible;">
            <p class="HIDE topleft">TEMPLATE: columns<br>LAYOUT: columns</p>
    <p class="HIDE topright">BOX1</p>
        </div>

        <div class="cell columns BOX2" style=" visibility: visible;">
            <p class="HIDE topright">BOX2</p>
        </div>

        <div class="cell BOXFOOTER" >
            <span class="footer float odd">&#160;</span>
            <span class="footer title odd">Templates</span>
            <span class="footer page odd">3</span>
        </div>

    </div>

<!-- FRAME #4 -->
<!-- BOX1, BOX2, BOXFOOTER -->

    <div class="background"></div>


    <div class="frame layflat even" id="frame-4">

        <div class="cell rows BOX1" style=" visibility: visible;">
            <p class="HIDE topleft">TEMPLATE: rows<br>LAYOUT: rows</p>
    <p class="HIDE topright">BOX1</p>
        </div>

        <div class="cell rows BOX2" style=" visibility: visible;">
            <p class="HIDE topright">BOX2</p>
        </div>

        <div class="cell BOXFOOTER" >
            <span class="footer float even">&#160;</span>
            <span class="footer title even">Templates</span>
            <span class="footer page even">4</span>
        </div>

    </div>

<!-- FRAME #5 -->
<!-- BOX1 -->

    <div class="background"></div>


    <div class="frame layflat odd" id="frame-5">

        <div class="cell plain BOX1" >
            
        </div>

    </div>

<!-- FRAME #6 -->
<!-- BOX1 -->

    <div class="background"></div>


    <div class="frame layflat even" id="frame-6">

        <div class="cell onebox BOX1" style=" visibility: visible;">
            <p class="HIDE topleft">TEMPLATE: onebox-fig01-01</p>

    <figure class="middlecenter boxshadow" style="width: 55%;">
        <img class="" src="../pictures/letter_8x10-01.jpg">
        <figcaption>caption</figcaption>
    </figure>
        </div>

        <div class="cell BOXFOOTER" {BOXFOOTER style}>
            <span class="footer float even">&#160;</span>
            <span class="footer title even">Templates</span>
            <span class="footer page even">6</span>
        </div>

    </div>

<!-- FRAME #7 -->
<!-- BOX1 -->

    <div class="background"></div>


    <div class="frame layflat odd" id="frame-7">

        <div class="cell onebox BOX1" style=" visibility: visible;">
            <p class="HIDE topleft">TEMPLATE: onebox-fig01-02</p>

    <figure class="middleright boxshadow" style="width: 55%;">
        <img class="" src="../pictures/letter_8x10-01.jpg">
        <figcaption>caption</figcaption>
    </figure>

    <figure class="bottomcenter dborder" style="width: 85%; height: 40%; z-index: -1;">
        <p class="topleft" style="width: 28%; text-align: left; margin-left: -1%;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat tortor vel malesuada ullamcorper. Vivamus elementum.
        </p>
    </figure>
        </div>

        <div class="cell BOXFOOTER" {BOXFOOTER style}>
            <span class="footer float odd">&#160;</span>
            <span class="footer title odd">Templates</span>
            <span class="footer page odd">7</span>
        </div>

    </div>

<!-- FRAME #8 -->
<!-- BOX1 -->

    <div class="background"></div>


    <div class="frame layflat even" id="frame-8">

        <div class="cell onebox BOX1" style=" visibility: visible;">
            <p class="HIDE topleft">TEMPLATE: onebox-fig02-01</p>

    <figure class="middlecenter" style="width: 75%;">
        <img class="boxshadow" src="../pictures/letter_1x2-01.jpg" style="width: 48%; float: left;">
        <img class="boxshadow" src="../pictures/letter_1x2-02.jpg" style="width: 48%; float: left; margin-left: var(--em);">
        <figcaption style="margin-top: 98%;">caption</figcaption>
    </figure>
        </div>

        <div class="cell BOXFOOTER" {BOXFOOTER style}>
            <span class="footer float even">&#160;</span>
            <span class="footer title even">Templates</span>
            <span class="footer page even">8</span>
        </div>

    </div>

<!-- FRAME #9 -->
<!-- BOX1 -->

    <div class="background"></div>


    <div class="frame layflat odd" id="frame-9">

        <div class="cell onebox BOX1" style=" visibility: visible;">
            <p class="HIDE topleft">TEMPLATE: onebox-fig03-01</p>

    <figure class="middlecenter" style="width: 65%;">
        <img class="boxshadow" src="../pictures/letter_SQ-01.jpg" style="width: 48%; float: left;">
        <img class="boxshadow" src="../pictures/letter_SQ-01.jpg" style="width: 48%; float: left; margin-left: var(--em); margin-bottom: var(--em);">
        <br>
        <img class="boxshadow" src="../pictures/letter_2x1-01.jpg" style="float: left; width: calc( 96% + var(--em) );">
        <figcaption style="margin-top: 98%;">caption</figcaption>
    </figure>
        </div>

        <div class="cell BOXFOOTER" {BOXFOOTER style}>
            <span class="footer float odd">&#160;</span>
            <span class="footer title odd">Templates</span>
            <span class="footer page odd">9</span>
        </div>

    </div>

<!-- FRAME #10 -->
<!-- BOX1 -->

    <div class="background"></div>


    <div class="frame layflat even" id="frame-10">

        <div class="cell onebox BOX1" style=" visibility: visible;">
            <p class="HIDE topleft">TEMPLATE: onebox-fig04-01</p>

    <div class="middleright" style="width: 60%; right: 2%;">
        <figure style="width: 48%; margin-top: 0%; float: left;">
            <img class="boxshadow" src="../pictures/letter_8x10-01.jpg" style="margin-bottom: var(--em);">
            <br>
            <img class="boxshadow" src="../pictures/letter_8x10-02.jpg" style="">
            <figcaption>caption</figcaption>
        </figure>
        <figure style="width: 48%; margin-top: 20%; float: left; left: var(--em);">
            <img class="boxshadow" src="../pictures/letter_8x10-01.jpg" style="margin-bottom: var(--em);">
            <br>
            <img class="boxshadow" src="../pictures/letter_8x10-02.jpg" style="">
            <figcaption>caption</figcaption>
        </figure>
    </div>

    <p class="middleleft" style="width: 30%; text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque volutpat tortor vel malesuada ullamcorper. Vivamus elementum, augue vel fermentum efficitur, ex orci interdum arcu, sit amet vehicula libero magna nec tortor. Fusce facilisis sapien ac orci convallis, nec dictum sapien vestibulum.
    </p>
        </div>

        <div class="cell BOXFOOTER" {BOXFOOTER style}>
            <span class="footer float even">&#160;</span>
            <span class="footer title even">Templates</span>
            <span class="footer page even">10</span>
        </div>

    </div>

<!-- FRAME #11 -->
<!-- BOX1, BOXFOOTER -->

    <div class="background"></div>


    <div class="frame layflat odd" id="frame-11">

        <div class="cell smallbox BOX1" style=" visibility: visible;">
            <p class="HIDE topleft" style="top: -10%; left: -10%;">TEMPLATE: onebox-pol-01</p>

    <p class="headline huge center" style="width: 100%; top: 0%;">
        <span class="huge" style="margin-right: 4%;">*</span>
        <span class="">Großer Titel</span>
        <span class="huge" style="margin-left: 4%; transform: rotate(90deg);"><sub>*</sub></span>
    </p>

    <figure class="topleft polaroid" style="top: 20%; left: -7%;">
        <img class="" src="../pictures/letter_8x10-02.jpg" style="">
        <figcaption> </figcaption>
        <p class="bottomcenter" style="width: 90%; bottom: -65%;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <img class="bottomcenter" src="/home/nechnif/LOCAL/Projects/neftox//styles/images/stamps/flowers-03.png" style="height: 50%; width: auto; --rot: 90deg; bottom: -110%;">
    </figure>

    <figure class="middlecenter polaroid" style="--rot: 2deg;">
        <img class="" src="../pictures/letter_8x10-01.jpg" style="">
        <figcaption> </figcaption>
        <p class="bottomcenter" style="width: 90%; bottom: -65%;">
            Vivamus elementum, augue vel fermentum efficitur, ex orci interdum arcu.
        </p>
        <img class="topcenter" src="/home/nechnif/LOCAL/Projects/neftox//styles/images/stamps/flowers-02.png" style="height: 50%; width: auto; --rot: -85deg; top: -45%;">
    </figure>

    <figure class="topright polaroid" style="top: 15%; right: -7%;">
        <img class="" src="../pictures/letter_8x10-02.jpg" style="">
        <figcaption> </figcaption>
        <p class="bottomcenter" style="width: 90%; bottom: -65%;">
            Fusce facilisis sapien ac orci convallis, nec dictum sapien vestibulum.
        </p>
        <img class="bottomright" src="/home/nechnif/LOCAL/Projects/neftox//styles/images/stamps/flowers-04.png" style="height: 45%; width: auto; --rot: -85deg; bottom: -100%; right: 20%;">
    </figure>
        </div>

        <div class="cell BOXFOOTER" >
            <span class="footer float odd">&#160;</span>
            <span class="footer title odd">Templates</span>
            <span class="footer page odd">11</span>
        </div>

    </div>

</body>
</html>
