/* --- PAGE SETUP for A4 landscape ----------------------------------------------

/* Widths and heights */
:root {
    --totalwidth: 1600px;
   --totalheight: 900px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}
/* --- PAGE SETUP for A4 landscape ----------------------------------------------

/* Widths and heights */
:root {
    --totalwidth: 1600px;
   --totalheight: 900px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}
/* --- PAGE SETUP for A4 landscape ----------------------------------------------

/* Widths and heights */
:root {
    --totalwidth: 1600px;
   --totalheight: 900px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}
/* --- PAGE SETUP for A4 landscape ----------------------------------------------

/* Widths and heights */
:root {
    --totalwidth: 1600px;
   --totalheight: 900px;
}
div.custom {
    width: 50%;
   border: 1px solid red;
}
