/* stylesheet for neftox scrapbooks, STYLE: simple-A4 */

@import url("../palettes.css");
@import url("../customs.css");


/* --- PAGE SETUP ----------------------------------------------------------- */

/* box behaviour */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

/* Widths and heights */
:root {
    --titleheight: 120px;
    --footerwidth: calc( var(--totalwidth) - var(--bindingoffset) - 4 * var(--boxmargin) );
   --footerheight: calc( 2 * var(--basesize) );
      --boxmargin: 8px;
     --boxpadding: 15px;
    --textpadding: 4px;
     --fontfactor: 1.7;
  --titlefontsize: calc(var(--fontfactor) * var(--basesize));
}

body {
        margin: 0;
       padding: 0;
    background: white;
   font-family: var(--fontfamily);
     min-width: calc(var(--totalwidth) * var(--layflat));
     /* border: 1px solid blue; */
}


/* Specify the frame containers. */
div.frame {
        width: calc(var(--totalwidth) - var(--bindingoffset));
       height: var(--totalheight);
      padding: calc(var(--boxpadding) / 2);
    clip-path: border-box;
       /* border: 1px solid red; */
}
div.frame.even {
    margin-left: var(--bindingoffset);
}
div.frame.odd {
    margin-right: var(--bindingoffset);
}

div.frame.layflat {
       display: inline-block;
     clip-path: none;
    overflow-y: clip;
    margin-bottom: calc(var(--boxmargin) / -2);
}
div.frame.layflat.even {
         float: left;
    overflow-x: visible;
}


div.background {
        position: absolute;
        /* width: var(--totalwidth); */
           width: calc( var(--totalwidth) * var(--layflat) ) ;
          height: var(--totalheight);
 background-size: cover;
         z-index: -100;
         /* border: 1px solid green; */
}


div.cell {
            position: relative;
              margin: var(--boxmargin);
             padding: var(--boxpadding);
     background-size: cover;
           font-size: var(--basesize);
              color: rgba(var(--text), 1);
              /* border: 1px solid red; */
}

div.cell.T00.BOX1 {
         width: calc( 100% - 2 * var(--boxmargin) );
        height: calc( var(--totalheight) - 4 * var(--boxmargin) );
    visibility: hidden;
}

div.cell.T01.BOX1 {
         float: left;
         width: calc( 50% - 2 * var(--boxmargin) );
        height: calc( var(--totalheight) - var(--footerheight) - 6 * var(--boxmargin));
    visibility: hidden;
}

div.cell.T01.BOX2 {
         float: right;
         width: calc( 50% - 2 * var(--boxmargin) );
        height: calc( var(--totalheight) - var(--footerheight) - 6 * var(--boxmargin));
    visibility: hidden;
}

div.cell.T02.BOX1 {
         width: calc( 100% - 2 * var(--boxmargin) );
        height: calc( var(--totalheight) / 2 - 8 * var(--boxmargin) );
    visibility: hidden;
}

div.cell.T02.BOX2 {
         width: calc( 100% - 2 * var(--boxmargin) );
        height: calc( var(--totalheight) / 2 - 8 * var(--boxmargin) );
    visibility: hidden;
}

div.cell.BOXFOOTER {
         display: inline-block;
           width: var(--footerwidth);
          height: var(--footerheight);
          margin: var(--boxmargin);
       font-size: calc( var(--basesize) / 2 + 15px );
     line-height: calc( var(--footerheight) - ( var(--basesize) / 2 + 10px ) );
           color: rgba(var(--text), 1);
      text-align: center;
}
span.footer.title {
         width: 80%;
}
span.footer.float {
    width: 10%;
}
span.footer.float.even {
    float: left;
}
span.footer.float.odd {
    float: right;
}
span.footer.page {
    width: 10%;
}
span.footer.page.even {
         float: right;
    text-align: right;
}
span.footer.page.odd {
         float: left;
    text-align: left;
}


/*--- TEXT STYLES ----------------------------------------------------------- */

/* Classes for list item separation: */
ul, ol {
    margin: var(--boxmargin);
    /* list-style-type: circle; */
}
li:not(:last-child) { margin-bottom: calc(var(--basesize) * 0.5); }
ul.ultrawide  li:not(:last-child) { margin-bottom: calc(var(--basesize) * 1.5); }
ul.wide       li:not(:last-child) { margin-bottom: calc(var(--basesize) * 0.8); }
ul.tight      li:not(:last-child) { margin-bottom: calc(var(--basesize) * 0.3); }

p {
    margin: 0;
   padding: var(--textpadding) 0;
}
p.headline {
     font-size: 100px;
   font-weight: bold;
    text-align: center;
         color: rgba(var(--text), 1);
}
p.subheadline {
     font-size: 70px;
   font-weight: bold;
    text-align: center;
         color: rgba(var(--text), 1);
}
p.caption {
       position: absolute;
    font-family: sans-serif;
      font-size: calc(var(--basesize) - 15pt);
}

hr {
    border: 0;
    background-color: rgba(var(--text), 1);
}

/* General text styles: */
.large { font-size: calc(var(--basesize) + 5pt); }
.small { font-size: calc(var(--basesize) - 5pt); }
.tiny { font-size: calc(var(--basesize) - 10pt); }
.bold { font-weight: bold; }
.tty { font-family: monospace; }

.shadow { text-shadow: 4px 4px 4px rgba(var(--text), 1); }
.shadowwhite { text-shadow: 4px 4px 4px white; }
.boxshadow { box-shadow: 8px 8px 8px rgba(var(--text), 1); }
.fshadow { filter: drop-shadow(5px 5px 5px rgba(var(--text), 1)); }
.engraving { filter: drop-shadow(0px 0px 0.5px rgba(var(--text), 1)); }
.border { border: 5px solid white; }

.none { list-style: none; }
/* Classes for horizontal alignment: */
.left   { text-align: left; }
.right  { text-align: right; }
.center { text-align: center; }
/* Classes for vertical alignment: */
.top    { vertical-align: top; }
.bottom { vertical-align: bottom; }
.middle { vertical-align: middle; }


/*--- IMAGES AND BORDERS ---------------------------------------------------- */

figure {
    position: relative;
      margin: 0;
     padding: 0;
  text-align: center;
}
figure.abs {
    position: absolute;
}
figure.abs.top {
    top: 0;
}
figure.abs.bottom {
    bottom: calc( 0px - var(--footerheight) );
}
figcaption {
    position: absolute;
     padding: 0 var(--boxpadding);
   font-size: calc(var(--basesize) - 5px);
     z-index: 2;
  text-align: center;
       width: 90%;
}
figcaption.t {
    top: 0;
}
figcaption.l {
          top: 50%;
        right: 55%;
    transform: rotate(-90deg);
}
figcaption.r {
          top: 50%;
         left: 55%;
    transform: rotate(-90deg);
}
img {
           width: 100%;
    border-color: rgba(var(--text), 1);
}
figure img {
    vertical-align: top;
}
.oval, .oval img {
    border-radius: 50%;
}

/* Simple frames with shadow */
figure.framing {
          box-shadow: 1px 1px 15px 1px rgba(50, 50, 50, 0.5);
             padding: 4%;
    background-color: white;
}
figure.framing img {
    box-shadow: 1px 1px 2px 1px rgba(50, 50, 50, 0.5);
}

/* Polaroid effect */
figure.polaroid {
          box-shadow: 1px 1px 15px 1px rgba(50, 50, 50, 0.5);
             padding: 3%;
      padding-bottom: 8%;
    background-color: white;
}
figure.polaroid figcaption {
    position: absolute;
         top: 90%;
}

/* Masking tape */
figure.tesa {
     padding: 25px;
     z-index: 1;
}
figure.tesa img {
    position: relative;
     z-index: 0;
       width: 100%;
  box-shadow: 3px 3px 3px rgba(50, 50, 50, 1);
}
/* figure.tesa figcaption {
    position: absolute;
    z-index: 2;
} */
figure.tesa::after {
        position: absolute;
             top: 0;
           right: 0;
          bottom: 0;
            left: 0;
         content: '';
}
figure.tesa.t::after {
      border-top: 50px solid transparent;
    border-image: url(../images/borders/tesa_sides.png) 80 stretch;
}
figure.tesa.b::after {
   border-bottom: 50px solid transparent;
    border-image: url(../images/borders/tesa_sides.png) 80 stretch;
}
figure.tesa.l::after {
     border-left: 50px solid transparent;
    border-image: url(../images/borders/tesa_sides.png) 80 stretch;
}
figure.tesa.r::after {
    border-right: 50px solid transparent;
    border-image: url(../images/borders/tesa_sides.png) 80 stretch;
}
figure.tesa.c::after {
      border: 80px solid transparent;
    border-image: url(../images/borders/tesa_corners.png) 400 stretch;
}

/* Drawn borders: */
figure.dborder img { box-shadow: 3px 3px 3px rgba(50, 50, 50, 1); }
figure.dborder.plain {
                 border: 12px solid transparent;
           border-image: url(../images/borders/border_plain.png) 35 stretch;
    border-image-outset: 3px 7px 0px 3px;
}
figure.dborder.stamp {
                 border: 25px solid transparent;
           border-image: url(../images/borders/border_stamp.png) 10% round;
    border-image-outset: 3px 7px 0px 3px;
}
figure.dborder.wavy {
                 border: 25px solid transparent;
           border-image: url(../images/borders/border_wavy.png) 70 round;
    border-image-outset: 3px 6px 0px 3px;
}

/* Fabric borders */
/* figure.fborder {
    box-shadow: 1px 1px 15px 1px rgba(50, 50, 50, 0.5);
}
figure.fborder img {
    box-shadow: 1px 1px 2px 1px rgba(50, 50, 50, 0.5);
}
figure.fborder.kloeppel {
                 border: 70px solid transparent;
           border-image: url(../images/borders/kloeppel_01.png) 90 round;
    border-image-outset: 10px 6px 15px 3px;
             box-sizing: border-box;
       background-color: #fff9f3;
} */

/* Passepartouts */
figure.passepartout {
      box-shadow: 0px 0px 12px 4px black inset;
          border: 10px solid rgba(0, 0, 0, .1);
      border-top: 10px solid rgba(0, 0, 0, .2);
    border-right: 10px solid rgba(0, 0, 0, .2);
}
figure.passepartout img {
    vertical-align: top;
          position: relative;
           z-index: -1;
}
figure.passepartout.oval {
           border: 12px solid rgba(0, 0, 0, .1);
       border-top: 12px solid rgba(0, 0, 0, .1);
     border-right: 12px solid rgba(0, 0, 0, .1);
}


/* Paper clips */
figure.clip {
    padding: 5%;
}
figure.clip img {
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 1);
}
figure.clip.t::after {
            position: absolute;
             content: '';
    background-image: url(../images/elements/clip_o.png);
   background-repeat: no-repeat;
     background-size: 70px;
    transform-origin: 0% 0%;
           transform: rotate(4deg);
               width: 100%;
              height: 100%;
                 top: -4%;
                left: 75%;
}
figure.clip.b::after {
            position: absolute;
             content: '';
    background-image: url(../images/elements/clip_i.png);
   background-repeat: no-repeat;
     background-size: 70px;
    transform-origin: 0% 0%;
           transform: rotate(180deg);
               width: 100%;
              height: 100%;
                 top: 103%;
                left: 30%;
}
figure.clip.l::after {
            position: absolute;
             content: '';
    background-image: url(../images/elements/clip_o.png);
   background-repeat: no-repeat;
     background-size: 70px;
    transform-origin: 0% 0%;
           transform: rotate(-95deg);
               width: 100%;
              height: 100%;
                 top: 85%;
                left: -2%;
}
figure.clip.r::after {
            position: absolute;
             content: '';
    background-image: url(../images/elements/clip_i.png);
   background-repeat: no-repeat;
     background-size: 70px;
    transform-origin: 0% 0%;
           transform: rotate(62deg);
               width: 100%;
              height: 100%;
                 top: 50%;
                left: 99%;
}
